[user]
  name = Md. Masud Rana
  email = masudcsesust04@gmail.com
  signingkey = [GPG SIGNING KEY]
[core]
  editor = vim
[alias]
  br = branch
  ci = commit
  cl = clone
  co = checkout
  ll = log -1 HEAD
  lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg = !"git lg1"
  lp = log --pretty=format:'%Cblue%h %Cred%cD %Creset%cn %Cgreen%s%Creset' --date-order --graph
  rb = rebase
  st = status
  sl = stash list
  sp = stash pop
  sa = stash apply
  sd = stash drop
[push]
  default = current
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[commit]
  gpgsign = true

